extends layout

block content
  p Welcome to Api Documentation

  // About Me Section
  section#about-me
    h2 About Me
    p
      | Hello, I'm M F ROSHAN, a software developer passionate about web development and cybersecurity.
      | This is my personal website where I share my projects and insights.

  // API Description
  section#api-description
    h2 API Description
    p
      | This website provides an API for various functionalities. Here's a brief overview:

    ul
      li
        strong Endpoint 1:
        | /api/admin - Access admin functionalities.

      li
        strong Endpoint 2:
        | /api/staff - Access staff-related features.

      li
        strong Endpoint 3:
        | /api/users - Access user-specific functionalities.

      li
        strong Endpoint 4:
        | /api/logout - Log out and invalidate the user's token.
    